@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,500&display=swap');

@font-face {
	font-family: "proximanova";
	src: url("../fonts/proximanova/proximanova_regular.woff2") format("woff2"), url("../fonts/proximanova/proximanova_regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "proximanova";
	src: url("../fonts/proximanova/proximanova_bold.woff2") format("woff2"), url("../fonts/proximanova/proximanova_bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "proximanova";
	src: url("../fonts/proximanova/proximanova_black.woff2") format("woff2"), url("../fonts/proximanova/proximanova_black.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}
body {
	font-family: "proximanova", serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 20px;
}
h1 {
	color: teal;
	font-size: 28px;
	text-align: center;
	white-space: nowrap;
	
}
h2 {
	color: tomato;
	font-size: 20px;
	text-align: center;
	text-decoration: underline;
	margin: 20px 0px 5px 0px;
	word-spacing: 10px;
}
img.image {
	margin: 20px 480px;
}
.imageone {
	 margin: 20px 330px 30px;
}
ol {	
	margin: 20px 0px 0px 540px;
	letter-spacing: 7px;	
} 
.list{
	color: red;
	list-style: decimal;
	text-decoration: line-through;  
}
a {	
	color: teal;
}
ul li {
	list-style: square;
	margin: 10px 0px 5px 50px;
	box-shadow: 1px 1px 5px rebeccapurple;
	padding: 20px 20px;
}
div.texttwo p {
	color: brown;
	letter-spacing: 4px;
	text-decoration: overline;
	font-family: "Montserrat", serif;
	font-weight: 900;
	line-height: 1.4;
}
span {
	color: #0000ff;
	font-family: "proximanova", serif;
	font-weight: 700;
	font-size: 30px;
	text-decoration: underline;
}
span.textthree {
	font-size: 18px;
	color: rgb(69, 35, 35);
}
p {
	text-align: center;
	text-decoration: solid;
	padding: 2px 5px ;
	text-align: justify;
	text-indent: 30px; 
	color: yellow;
}
.textone {
	text-transform: uppercase;
	color: rgb(6, 170, 199);
	font-family: "Montserrat", serif;
	font-weight: 500;
	font-style: italic;
}
p.textfour {
	color: #50537a;
	font-family: "Montserrat", serif;
	font-weight: 700;
	text-decoration: underline;
}
p.textfive {
	color: rgb(78, 15, 15);
	font-family: "Montserrat", serif;
	font-weight: 700;
}
footer {
	font-family: "Montserrat", serif;
	font-size: 12px;
	font-weight: 500;
	font-style: italic;
	color: blue;
	margin: 200px 0px 0px 0px;
	text-align: right;
	padding: 20px 40px;
}
